{% extends "main/layout.html" %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hi, I'm James. Welcome to my website.
      </h1>
      <h2 class="subtitle">
        I'm a developer, business student, and writer with many other hobbies.
      </h2>
      <div class="content">
        <p class="is-large">
          I'm located in Bloomington, IN, attending Indiana University
          double majoring in Finance & Information Systems. Currently,
          I serve as the project lead developer for Doriot, Inc., working on the
          first iteration of the
          <a href="https://www.doriot.com/?mwr=jamesfce1">
          Fantasy Startup app</a>. For fun, I produce and host my podcast,
          <a href="">No Coast Oriental</a>. I also write about whatever I
          choose to write about.
        </p>
        <p class="is-large">
          This site serves as my portfolio, blog, and hub for certain personal
          projects.
        </p>
        <p class="is-large">Feel free to take a look around!</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
