<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- links bulma stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>James He</title
    {% endif %}
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar is-transparent has-shadow is-spaced" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item"><strong>James He</strong></a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="mainNavbarMenu" class="navbar-menu">
        <div class="navbar-start">
          <!--navbar items still need LINKS!!!-->
	        <a href={{ url_for('main.home') }} class="navbar-item">Home</a>
	        <a href={{ url_for('main.projects') }} class="navbar-item">Projects</a>
          <a href={{ url_for('main.blog') }} class="navbar-item">Blog</a>
          <a class="navbar-item">About</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item">Github</a>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
  </body>

  <footer class='footer'>
    <div class="content has-text-centered">
      <p>
        <strong>jameshe.me</strong> is developed by me, <a href="http://www.jameshe.me">James He</a>
        <br>
        View this website on <strong><a href="https://www.github.com/he-james">Github</a></strong>
      </p>
		
  	  <a href={{ url_for('auth.admin') }}>Admin</a>

    </div>
  </footer>
</html>

